.header {
	color: white;
}

.wrap-icon {
	display: inline-block;
	color: white;
	background-color: inherit;
	border: none;
}

.header-center {
	display: flex;
	flex: 1 1 auto;
	width: calc(100% - 96px);
}

.header-center .search {
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
}

.header-center .search input {
	width: 400px;
}

.header-center .options {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.profile-btn {
	padding: 0 10px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	background-color: inherit;
	/* border-color: none; */
	border: none;
	position: relative;
}

.profile-btn::after {
	content: '';
	border: none;
}

.profile-btn:hover {
	background-color: darken(#ebecf0, 10);
	border-color: darken(#ebecf0, 10);
}

.profile-menu.dropdown-menu.show {
	padding: 5px 0;
	min-width: 200px;
	position: absolute;
	top: 110%;
	right: 0;
	left: auto;
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

.dropdown-menu .dropdown-item {
	padding: 8px 16px;
	font-size: 14px;
}

.dropdown-item i {
	font-size: 16px;
	margin-right: 10px;
}
.header-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 170px;
	margin-left: 1rem;
}

.header-right span {
	display: inline-block;
}
