.sidebar {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0.5rem 0;
	border-right: 1px solid #e3e3e3;
}

.label-item {
	cursor: pointer;
}

.additional-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.remove-label {
	display: none;
}

.additional-label:hover > .remove-label {
	display: inline;
}

.label-name {
	margin-left: 1rem;
}
