.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0.5rem 0;
    border-right: 1px solid #e3e3e3;
}

.label-item {
    cursor: pointer;
}

.additional-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-label {
    display: none;
}

.additional-label:hover > .remove-label {
    display: inline;
}

.label-name {
    margin-left: 1rem;
}

.list-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-name {
    flex-basis: auto;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    display: flex;
    min-height: 1rem;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: text;
}

.list-name:hover {
    background-color: #f5f5f5;
}

.list-name:focus {
    padding: 4px 9px;
    border: 1px solid black;
    background-color: white;
}

.custom-active {
    background-color: rgb(237, 237, 237);
}
